#body {
    background-image: url("https://cdn3.vectorstock.com/i/1000x1000/44/62/earth-relief-map-seamless-pattern-element-vector-12184462.jpg");
    margin: 0;
    padding:0;
}

.wholePage{
    height: 100vh;
    width: 100%;
}

#root {
    display: flex;
    justify-content: center;
}

#mainContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    font-size: 125%;
    align-items: center;
    justify-content: space-evenly;
}
#container{
    display:flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

#containerTwo{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#nameForm{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
#statusBar {
    display: flex;
    flex-direction: row;
    font-size: 50%;
    justify-content: space-evenly;
}

#row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#gameButtons {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

#mapSection{
    display: flex;
}

#centerButtons {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

#navigationButtons {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

#eastWestButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#modal {
    position: absolute;
    z-index: 1;
}

#guess-list {
    position: absolute;
    z-index: 401;
}